<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

        <context:component-scan base-package="com.tmjonker.Annotation" />

        <bean id="student" class="com.tmjonker.Annotation.Student">
                <property name="id" value="2333695" />
                <property name="name" value="Tim Jonker" />
        </bean>

        <bean id="address" class="com.tmjonker.Annotation.Address">
                <property name="zipcode" value="20111" />
                <property name="state" value="VA" />
                <property name="country" value="USA" />
                <property name="city" value="Manassas" />
        </bean>

        <bean id="phone" class="com.tmjonker.Annotation.Phone">
                <property name="mob" value="202-779-1008" />
        </bean>
</beans>