* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: white;
}

form {
    margin-top: 50px;
}

.form-class {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    padding: 20px;
    background-color: black;
    box-shadow: 5px 10px black;
}

.header {
    text-align: center;
}

button {
    margin: 0 20px 10px;
    text-align: center;
}

.button-group {
    margin: auto;
    text-align: center;
}

.list-group-item {
    background-color: black;
    color: white;
}

